@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";

.container {
  @include Padding;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 100%;
    background-color: $purple-color;
    border-bottom: 0.5px solid $gray-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.menu {
  font-size: 22px;
  color: white;
  a+a{
    margin-left: 38.9px;
  }
}