@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";
@import "/styles/mixins/fonts.scss";

.container {
    @include Padding;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    background-image: url("./image/fundoWelcome.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include Phone {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        background-image: none;
    }

}

.text {
    h1 {
        @include SizeTitle;
        font-weight: bold;
    }
    p {
        @include SizeSubtitle;
        opacity: 0.8;
        text-align: center;
    }
}

.button2 {
    @include Phone {
        text-align: center;
    }

    Button {
        font-size: 25px;
    }
}

.image {
    text-align: end;

    @include Phone {
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
}