@import "./responsive.scss";

@mixin SizeTitle {
    font-size: 71px;

    @include Phone {
        font-size: 50px;
        text-align: center;
    }

    @include MinPhone {
    font-size: 40px;
    }
}

@mixin SizeSubtitle {
    font-size: 30px;

    @include Phone {
    font-size: 25px;
    }

    @include MinPhone {
    font-size: 20px;
    }
}