@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";

.container {
    @include Padding;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    gap: 150px;
}

.texts {
    span{
        font-size: 30px;
        font-weight: 500;
        color: $green2-color;
    }

    h1 {
        font-size: 65px;
        font-weight: bold;
    }

    p {
        font-size: 30px;
        font-weight: bold;
        opacity: 0.8;
    }
}

.form {
    padding: 38px 31px;
    background-color: $white-color;
    border: 0.5px solid $white2-color;
    border-radius: 10px;
    opacity: 1;

    h1{
        font-size: 35px;
        font-weight: bold;
        color: $purple-color;
    }

    form {
        display: flex;
        flex-flow: column;
    }
}